---
import GlobalLayout from "src/layouts/GlobalLayout.astro";
import Input from "@components/Input.tsx";
---

<GlobalLayout title="検索ページ">
  <div class="mt-4 text-center">
    <Input client:load />
  </div>
</GlobalLayout>
