---
import GlobalLayout from "src/layouts/GlobalLayout.astro";
import Link from "src/components/Link.astro";
---

<GlobalLayout title="存在しないページ">
  <div class="w-full text-center">
    <p>存在しないページです</p>
    <Link path="">トップへ戻る</Link>
  </div>
</GlobalLayout>
