---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<a href="/">ホーム</a>
  <a href="/about">概要</a>
  <a href="/blog">ブログ</a>
	<main>
		<h1>404</h1>
	</main>
</Layout>

<style>
</style>
