---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import Card from "../components/Card.astro";
import SeeMoreLink from "../components/SeeMoreLink.astro";
---

<GlobalLayout title="Hello World">
  <div class="mt-2">
    <h2 class="text-xl">新着商品</h2>
    <ul class="mt-1 grid w-full grid-cols-5 grid-rows-2 gap-2">
      <Card
        productImgPath="/clothes/clothes-1.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
      <Card
        productImgPath="/clothes/clothes-2.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
      <Card
        productImgPath="/clothes/clothes-3.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
      <Card
        productImgPath="/clothes/clothes-4.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
      <Card
        productImgPath="/clothes/clothes-5.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
      <Card
        productImgPath="/clothes/clothes-6.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
      <Card
        productImgPath="/clothes/clothes-7.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
      <Card
        productImgPath="/clothes/clothes-8.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
      <Card
        productImgPath="/clothes/clothes-9.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
      <Card
        productImgPath="/clothes/clothes-10.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
    </ul>
    <SeeMoreLink className="mt-1 text-right" />
  </div>
  <div class="mt-2">
    <h2 class="text-xl">人気商品ランキング</h2>
    <ul class="mt-1 grid w-full grid-cols-5 grid-rows-1 gap-x-1">
      <Card
        productImgPath="/clothes/clothes-1.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
      <Card
        productImgPath="/clothes/clothes-2.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
      <Card
        productImgPath="/clothes/clothes-3.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
      <Card
        productImgPath="/clothes/clothes-4.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
      <Card
        productImgPath="/clothes/clothes-5.jpg"
        productName="商品名1"
        brandName="ブランド"
      />
    </ul>
    <SeeMoreLink className="mt-1 text-right" />
  </div>
</GlobalLayout>
