---
interface Props {
  path: string;
  className?: string;
}

const { path, className } = Astro.props;
console.log("komori", Astro.url.origin, import.meta.env.BASE_URL, path);
---

<div class={className}>
  <a
    href={`${Astro.url.origin}${import.meta.env.BASE_URL}${path}`}
    class="after:ml-1 after:inline-block after:h-3 after:w-3 after:bg-gray-700 after:content-[''] after:[clip-path:polygon(100%_50%,0%_0%,0%_100%)] hover:opacity-50"
    ><slot /></a
  >
</div>
