---
import GlobalLayout from "src/layouts/GlobalLayout.astro";
import SearchFilters from "@components/SearchFilters";
---

<GlobalLayout title="検索ページ">
  <div class="mt-4 text-center">
    <SearchFilters client:load />
  </div>
</GlobalLayout>
