---
import { getCollection } from "astro:content";
import { getProductsByDate } from "src/util";
import GlobalLayout from "src/layouts/GlobalLayout.astro";
import Card from "src/components/Card.astro";
import Input from "src/components/input.jsx";
import Link from "src/components/Link.astro";

const products = await getCollection("products");

const newProducts = getProductsByDate(products);
---

<GlobalLayout title="新着商品ページ">
  <div class="mt-4">
    <Input client:load />
    <h2 class="text-xl">新着商品ページ</h2>
    <ul class="mt-1 grid w-full grid-cols-5 grid-rows-2 gap-2">
      {
        newProducts.map(({ data }) => (
          <Card
            productId={data.id}
            productImgPath={data.productImgPath}
            productName={data.productName}
            brandName={data.brandName}
          />
        ))
      }
    </ul>
    <Link path="/" className="mt-1 text-right">トップへ戻る</Link>
  </div>
</GlobalLayout>
